:root {
    --mainPink: #ef7998;
    --mainYellow: rgb(249, 228, 148);
    --mainWhite: #fff;
    --mainBlack: #000;
    --yellowTrans: rgba(249, 228, 148, 0.5)!important;
    --mainGrey: rgb(238, 238, 238);
}

body {
    font-family: "Kaushan Script", cursive;
}
.navbar-toggler {
outline: none !important;
}
.toggler-icon {
font-size: 2.5rem;
color: var(--mainPink)!important;
}
.nav-link {
color: var(--mainPink)!important;
font-size: 1.5rem;
transition: all 0.5s ease-in-out;
}
.nav-link:hover {
color: var(--mainBlack)!important;
}
.cart-info__icon {
    color: var(--mainBlack)!important;
    cursor: pointer;
 }
  
.cart-info {
border: 0.1rem solid var(--mainBlack)!important;
color: black;
border-radius: 0.25rem;
padding: 0.4rem 0.6rem;
cursor: pointer;
}
.cart-info:hover {
background: var(--mainPink)!important;
border-color: var(--mainPink)!important;
color: var(--mainWhite)!important;
}
.cart-info:hover .cart-info__icon {
color: var(--mainWhite)!important;
}
/* end of info icons */
/* banner */

.banner {
color: var(--mainWhite)!important;
margin-top: -4rem;
}
.banner-title {
color: var(--mainPink)!important;
font-size: 4rem;
}
.banner-link {
font-size: 1.5rem;
color: var(--mainBlack)!important;
border: 0.2rem solid var(--mainBlack)!important;
}
.banner-link:hover {
background: var(--mainBlack)!important;
color: var(--mainPink)!important;
}
.hide{
display: none;
}
/* endo of banner */
/* cart  */
.cart {
position: absolute;
min-height: 10rem;
background: var(--mainWhite);
top: 0;
right: 0;
transition: all 0.3s ease-in-out;
background: rgba(255, 255, 255, 0.5);
width: 0;
overflow: hidden;
}
.show-cart {
width: 18rem;
padding: 2rem 1.5rem;
transform: rotateY(-360deg);
}
.cart-item {
transition: all 2s ease-in-out;
}

/* end of cart */
/* cart item */
.cart-item-remove {
color: pink;
transition: all 1s ease-in-out;
}
.cart-item-remove:hover {
transform: scale(1.1);
color: pink;
}
#cart-item-price {
font-size: 0.8rem;
}
/* cart item */
/* cart buttons */
.btn-pink {
color: pink !important;
border-color: pink !important;
}
.btn-black {
color: pink !important;
border-color: pink !important;
}
.btn-black:hover {
color: pink !important;
background: pink !important;
}
.btn-pink:hover {
background: pink !important;
color: pink !important;
}
/* end of cart buttons */

/* about */
.about-img__container {
position: relative;
}

.about-img__container::before {
content: "";
position: absolute;
top: -1.5rem;
left: -1.7rem;
width: 100%;
height: 100%;
outline: 0.5rem solid var(--mainYellow)!important;
z-index: -1;
transition: all 1s ease-in-out;
}
.about-img__container:hover:before {
top: 0;
left: 0;
}

/*end of  about */

.max-height {
    min-height: calc(100vh - 76px);
    
    background: linear-gradient(var(--yellowTrans), var(--yellowTrans)), url('./Images/image8.jpeg') center/cover fixed no-repeat;
    position: relative;
  }




