.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.shop-item-image{
    height: 20rem;
    width: 15rem;
}
.fal fa-phone-rotary{
    color: black;
    height: 50rem;
}